<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Hacking Project</title>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <!--
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">About</a>
        </li>ra
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">Services</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>-->

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Vous, Demain.</h1>
        <h3 class="mb-5">
          <em>The Hacking Project, Aujourd'hui.</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">En Savoir Plus</a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
            <p class="lead mb-5">THP est une formation qui, en 3 mois, à plein temps, vous apportera des connaissances actionnables pour vous permettre de voir plus loin. Pas de professeurs, pas de locaux.
              <br /><a href="https://www.youtube.com/watch?v=d7RWIcOcHgg">Ton futur, c'est maintenant</a>.</p>
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">Notre Proposition</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Tech</h3>
          <h2 class="mb-5">Tu apprendras</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-screen-smartphone"></i>
            </span>
            <h4>
              <strong>Ruby</strong>
            </h4>
            <p class="text-faded mb-0">Data Scrapping, Deep web, Programmation Orientée Objet</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-pencil"></i>
            </span>
            <h4>
              <strong>Ruby On Rails</strong>
            </h4>
            <p class="text-faded mb-0">Pour savoir coder un Airbnb-like. En une journée.</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-like"></i>
            </span>
            <h4>
              <strong>HTML/CSS</strong>
            </h4>
            <p class="text-faded mb-0">Mettre les mains dans le cambouis, c'est la base
              <i class="fas fa-heart"></i></p>
          </div>
          <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-mustache"></i>
            </span>
            <h4>
              <strong>Javascript</strong>
            </h4>
            <p class="text-faded mb-0">Pour rendre vos sites magiques et dynamiques !</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Callout -->
    <section class="callout">
      <div class="container text-center">
        <h2 class="mx-auto mb-5">En route vers
          <em>votre</em>
          succès !</h2>
        <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Maintenant !</a>
      </div>
    </section>

    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">Pourquoi ?</h3>
          <h2 class="mb-5">Parce que.</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Mieux se vendre</h2>
                  <p class="mb-0">La maîtrise d'au moins un langage de programmation et de la logique algorithmique, ça en impose.</p>
                </span>
              </span>
              <img class="img-fluid" src="images/portfolio-1.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Changer de carrière</h2>
                  <p class="mb-0">Vous avez envie de devenir développeur en informatique? Vous ne représentez que 10% des personnes qui viennent chez THP.</p>
                </span>
              </span>
              <img class="img-fluid" src="images/portfolio-2.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Tester son idée</h2>
                  <p class="mb-0">Vous avez une idée? Développez votre MVP pour prouver que votre concept peut marcher! Votre go to market passe de 1 an à 4 mois.</p>
                </span>
              </span>
              <img class="img-fluid" src="images/portfolio-3.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Rencontrer son associé</h2>
                  <p class="mb-0">Des centaines de moussaillons, de tous les horizons, qui veulent comme toi changer le monde !</p>
                </span>
              </span>
              <img class="img-fluid" src="images/portfolio-4.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="content-section bg-primary text-white">
      <div class="container text-center">
        <h2 class="mb-4">Ces boutons ne servent à rien.</h2>
        <a href="#" class="btn btn-xl btn-light mr-4">Clic Moi!</a>
        <a href="#" class="btn btn-xl btn-dark">Ou Moi.</a>
      </div>
    </section>



    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="#">
              <i class="icon-social-github"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; Cyran0</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

  </body>

</html>